.videoOption {
  display: inline-block;
  margin-right: 10px;
}

.hidden {
  display: none;
}

#swapLanguage{
  position: absolute;
  right: 5px;
}

#swapLanguage > p {
  float: left;
}

#swapLanguage > p > a {
  color: #50596c;
  text-decoration: underline;
}

#videosFrames {
  text-align: center;
}

/**
 * CSS from https://andy-bell.design/wrote/create-a-responsive-grid-layout-with-no-media-queries-using-css-grid/
 */
/*
  AUTO GRID
  Set the minimum item size with `--auto-grid-min-size` and you'll
  get a fully responsive grid with no media queries.
*/
.auto-grid {
  --auto-grid-min-size: 16rem;
}

.auto-grid > * {
  max-width: 400px;
}

.auto-grid > * + * {
  margin-top: 1rem;
}

@supports(display: grid) {
  .auto-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 1rem;
  }
  
  .auto-grid > * {
    max-width: unset;
  }

  .auto-grid > * + * {
    margin-top: unset;
  }
}

/*
  WRAPPER
  A utility with a max width that contains child elements and horizontal centers them
*/
.wrapper {
  max-width: 65rem;
  margin: 0 auto;
  padding: 0 1rem;
}