:root { /* Define all variables for later use*/
  --textColor: #fff;
}
body {
  background-color: gray;
  color: var(--textColor);
}

.header-fixed #header { /* fixes issue where selects go over navbar */
  z-index: 9999;
}

.hidden {
  display: none;
  visibility: hidden;
}

#swapLanguage {
  position: absolute;
  right: 5px;
  color: var(--textColor);
}

#swapLanguage > p {
  float: left;
}

#swapLanguage > p > a {
  color: var(--textColor);
  text-decoration: underline;
}

#videosFrames {
  z-index: 1;
  margin-top: -20%;
}

/** CSS from https://andy-bell.design/wrote/create-a-responsive-grid-layout-with-no-media-queries-using-css-grid/ */
/*
  AUTO GRID
  Set the minimum item size with `--auto-grid-min-size` and you'll
  get a fully responsive grid with no media queries.
*/
.auto-grid {
  --auto-grid-min-size: 12rem;
}

.auto-grid > * {
  max-width: 400px;
}

.auto-grid > * + * {
  margin-top: 1rem;
}

@supports(display: grid) {
  .auto-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 1rem;
  }
  
  .auto-grid > * {
    max-width: unset;
  }

  .auto-grid > * + * {
    margin-top: unset;
  }
}

/*
  WRAPPER
  A utility with a max width that contains child elements and horizontal centers them
*/
.wrapper {
  padding: .75rem;
}

/** CSS from https://codepen.io/mandelid/pen/vwKoe */
#loading {
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 40%;
  width: 100px;
  height: 100px;
  border: 3px solid gray;
  border-radius: 50%;
  border-top-color: #000;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

/** CSS from https://blog.theodo.com/2018/01/responsive-iframes-css-trick/ 
  Responsive iframe addition
*/
.resp-container {
  position: relative;
  left: 1%;
  overflow: hidden;
  padding-top: 88.125%;
}

.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/** CSS from https://codepen.io/raubaca/pen/VejpQP 
  Select css change
*/
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
}

select {
  flex: 1;
  z-index: 2;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}
/* Arrow */
.select::after {
  z-index: 2;
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  z-index: 2;
  color: #191970;
}