:root { /* Define all variables for later use */
  --textColor: #fff;
  --auto-grid-min-size: 12rem;
}

body {
  background-color: gray;
}
/* Sets the same color to all of the necesssary elements */
body, #swapLanguage, #swapLanguage > p > a, #videoBtnOptions > a {
  color: var(--textColor);
}

#loading, .select, #videoBtnOptions {
  z-index: 1;
}

#videoBtnOptions {
  position: relative;
}

.hidden {
  display: none;
}

#swapLanguage {
  position: absolute;
  right: 5px;
}

#swapLanguage > p {
  float: left;
}

#swapLanguage > p > a, #back, #next {
  text-decoration: underline;
  cursor: pointer;
}

#videosFrames {
  margin-top: -18%;
}

#back {
  float: left;
}

#next {
  float: right;
}

#title {
  font-size: 20px;
}

select {
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}

/* Custom Select */
.select {
  position: relative;
  display: inline-block;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
}

/*
  CSS from https://andy-bell.design/wrote/create-a-responsive-grid-layout-with-no-media-queries-using-css-grid/
  AUTO GRID
  Set the minimum item size with `--auto-grid-min-size` and you'll
  get a fully responsive grid with no media queries.
*/
.auto-grid > * {
  max-width: 400px;
}

.auto-grid > * + * {
  margin-top: 1rem;
}

@supports(display: grid) {
  .auto-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 1rem;
  }
  
  .auto-grid > * {
    max-width: unset;
  }

  .auto-grid > * + * {
    margin-top: unset;
  }
}

.wrapper {
  padding: .75rem;
}

/** CSS from https://codepen.io/mandelid/pen/vwKoe */
#loading {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 100px;
  height: 100px;
  border: 3px solid gray;
  border-radius: 50%;
  border-top-color: #000;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

/* 
  CSS from https://blog.theodo.com/2018/01/responsive-iframes-css-trick/ 
  Responsive iframe addition
*/
.resp-container {
  position: relative;
  left: 1%;
  overflow: hidden;
  padding-top: 88.125%;
}

.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
